@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f1f1f1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #d9d9d9;
  padding: 20px 10px;
  margin: 0x
}
  
/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
  
/* Style the header text */
.header h1 {
  margin: 0px;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: bold;
}
    
/* Change the background color on mouse-over */
.header a:hover {
  background-color: #a6a6a6;
  color: black;
}
  
/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}
  
/* Float the link section to the right */
.header-right {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d9d9d9;
  color: black;
  text-align: center;
}
  
.footer a {
  color: black;
  text-decoration: none;
}

.side-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
  
.side-menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
 
/* Change the link color on hover */
.side-menu li a:hover {
  background-color: #555;
  color: white;
}