@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ecf0f5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  width: 75%;
  display: inline;
}

h3 {
  font-size: 1.17em;
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #3c8dbc;
  padding: 5px 5px;
  margin: 0x;
}

  /* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the header text */
.header h1 {
  margin: 0px;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: bold;
}
  
/* Change the background color on mouse-over */
.header a:hover {
  background-color: #00c2e0;
  color: white;
}

.header a {
  background-color: #659fc1;
  color: white;
  margin-left: 5px;
}

/* Float the link section to the right */
.header-right {
  height: 50px;
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #2a2a2a;
  text-align: center;
  height: 21px;
}

.footer a {
  color: #2a2a2a;
  text-decoration: none;
}

/*
.side-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
  
.side-menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
 
.side-menu li a:hover {
  background-color: #555;
  color: white;
}
*/

.side-menu {
  height: calc(100% - 60px - 21px - 20px);
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222d32;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 60px;
  margin-bottom: 21px;
}

.side-menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #b8c7ce;
  display: block;
}

.side-menu a:hover {
  color: #f1f1f1;
  background-color: #2c3b41;
}